@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-one: #210E0C;
  --color-two: #9D4E4B;
  --color-three: #C0C5C1;

  --color-star: #FFBB3A
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body{
  background-color: var(--color-three);
}

a, a:hover{
  text-decoration: none;
  color: unset;
}

.container{
  width: 80%;
  margin: 0 auto;
}